@attribute [Authorize]
@using OpenBankClient.Data.Services
@using OpenBankClient.Data.Services.Base
@inject IStringLocalizer<AccountDetails> Loc

@page "/account/{id:int}"

@inject AccountsService _accountService

@if (account != null)
{

    <h3>Account</h3>
    <table class="table w-25">
        <tr>
            <td scope="row">Account nr.</td>
            <td>@account.Account.Id</td>
        </tr>
        <tr>
            <td>Currency</td>
            <td>@account.Account.Currency</td>
        </tr>
        <tr>
            <td>Balance</td>
            <td>@account.Account.Balance</td>
        </tr>

    </table>

    <h3 class="mt-5">Account Details</h3>
    <table class="table table-striped w-75">
        <thead>
            <tr>
                <th scope="col">@Loc["CollumnDate"]</th>
                <th scope="col">@Loc["CollumnAmount"]</th>
            </tr>
        </thead>
        <tbody>
        @foreach(Movim movim in account.Movims)
        {
            <tr>
                <td scope="row">@movim.CreatedAt.DateTime</td>
                <td>@movim.Amount</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public int id { get; set; }

    private GetAccountResponse? account;

    protected override async Task OnInitializedAsync()
    {
        account = await _accountService.GetAccountDetails(id);
        StateHasChanged();

    }

}
