@page "/"
@inject IStringLocalizer<Index> Loc

<div class="row">
    <h1>@Loc["Greeting"]</h1>
</div>
<div class="row mt-5">
    <p>@Loc["message part1"] <a href="" @onclick="PopUpRegister">@Loc["message link"]</a> @Loc["message part2"] </p>
    <p>@Loc["Or"]</p>
    <p><a href="" @onclick="PopUpLogin">@Loc["Message2 link"]</a> @Loc["Message2 text"]</p>
</div>
<div class="row">
    @if(@popUpEnabled)
    {
        if(popUp == "login")
        {
            <Login></Login>
        }
        if(popUp == "register")
        {
            <Register></Register>
        }
    }
</div>

@code {
    private bool popUpEnabled = false;
    private string popUp = "";
    private void PopUpLogin()
    {
        popUpEnabled = true;
        popUp = "login";
        StateHasChanged();
    }
        private void PopUpRegister()
    {
        popUpEnabled = true;
        popUp = "register";
        StateHasChanged();
    }

}
