@page "/register"
@using OpenBankClient.Data.Models
@using OpenBankClient.Data.Services
@using OpenBankClient.Data.Services.Base
@using OpenBankClient.Data.Services.Interfaces
@inject IUsersService _usersService
@inject ILogger<Register> _logger
@inject IStringLocalizer<Register> Loc

<div class="row">
    <div class="col-5 shadow-lg p-5 border m-2 border-opacity-25 bg-light bg-gradient">
        <h2 class="text-center mb-3">@Loc["Register"]</h2>
        <EditForm Model="@userRequest" OnSubmit="@SubmitForm"> 
            <DataAnnotationsValidator />
            <ValidationSummary />
            <p>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Email</span>
                    <InputText type="email" class="form-control" @bind-Value="userRequest.Email"/>
                </div>
            </p>
            <p>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2">@Loc["Password"]</span>
                    <InputText type="password" class="form-control" @bind-Value="userRequest.Password" />
                </div>
            </p>
            <p>
                 <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2">@Loc["Username"]</span>
                    <InputText type="text" class="form-control" @bind-Value="userRequest.UserName" />
                </div>
            </p>
            <p>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon2">@Loc["Full name"]</span>
                    <InputText type="text" class="form-control" @bind-Value="userRequest.FullName" />
                </div>
            </p>
            <button class="btn btn-outline-dark"type="submit">@Loc["Register"]</button>
        </EditForm>
        @if(OperationStatus == "User registered")
        {
            <div class="alert alert-success mt-3" role="alert">
                @OperationStatus
            </div>
        }
        @if(OperationStatus != "User registered" && OperationStatus != "")
        {
            <div class="alert alert-danger mt-3" role="alert">
                @OperationStatus
            </div>
        }

    </div>
</div>


@code {
    private CreateUser userRequest= new();
    private string OperationStatus = "";

    public async Task SubmitForm()
    {
        var response = await _usersService.RegisterUserAsync(userRequest);
        OperationStatus = response.Item2!;
        StateHasChanged();
    }
}
